
.btn,
.btn_2,
.btn::after
    text-align: center
    display: inline-flex
    align-items: center
    font-size: 14px
    border: 0
    color: #000
    line-height: 30px
    min-height: 54px
    padding: 12px 50px
    font-weight: 700
    outline: transparent
    position: relative

.btn::before
    content: ''
    display: block
    width: 100%
    height: 100%
    z-index: -1
    position: absolute
    top: 0
    left: 0
    background-color: $prime
    clip-path: polygon(0 30%, 8% 0, 100% 0, 100% 70%, 92% 100%, 0 100%)

.btn,
.btn_2
    img
        display: inline-block
        vertical-align: middle
        position: relative
        z-index: -1
        left: -14px
        width: 30px

    &::after
        --slice-0--: inset(50% 50% 50% 50%)
        --slice-1--: inset(80% -6px 0 0)
        --slice-2--: inset(50% -6px 30% 0)
        --slice-3--: inset(10% -6px 85% 0)
        --slice-4--: inset(40% -6px 43% 0)
        --slice-5--: inset(80% -6px 5% 0)
        content: 'Выездной шиномонтаж'
        display: block
        position: absolute
        min-height: unset
        top: 0
        right: 0
        left: 0
        bottom: 0
        background-color: #000
        background: linear-gradient(45deg, transparent 3%, $second 3%, $second 5%, rgba($prime, .8) 5%)
        text-shadow: -3px -3px 0 #F8F005,3px 3px 0 red
        clip-path: var(--slice-0--)
        transform: translate(0px,0px)

    &:hover
        opacity: 1
        &::after
            animation: .8s glitch infinite alternate
            animation-timing-function: steps(1 end)

.btn
    &_2
        color: white
        background-color: transparent
        clip-path: none
        background-image: url('../img/outline.svg')
        background-size: contain
        background-repeat: no-repeat
        background-position: center center
        &:hover
            background-color: transparent
            // opacity: .6

        &::after
            content: 'Написать в Whatsapp'
            background: linear-gradient(45deg, transparent 3%, $second 3%, $second 5%, rgba(#fff, .1) 5%)

@keyframes glitch
    0%
        clip-path: var(--slice-1--)
        transform: translate(-10px,10px)

    10%
        clip-path: var(--slice-3--)
        transform: translate(-5px,10px)

    20%
        clip-path: var(--slice-4--)
        transform: translate(-5px,5px)

    30%
        clip-path: var(--slice-2--)
        transform: translate(5px,0px)

    40%
        clip-path: var(--slice-1--)
        transform: translate(10px,5px)

    50%
        clip-path: var(--slice-5--)
        transform: translate(5px,10px)

    60%
        clip-path: var(--slice-2--)
        transform: translate(10px,5px)

    70%
        clip-path: var(--slice-3--)
        transform: translate(0px,0px)

    80%
        clip-path: var(--slice-5--)
        transform: translate(-5px,-10px)

    90%
        clip-path: var(--slice-4--)
        transform: translate(-10px,0px)

    100%
        clip-path: var(--slice-1--)
        transform: translate(-5px,10px)

@media screen and ( max-width: 700px )
    .btn,
    .btn_2
        justify-content: center
        padding: 13px
        font-size: 12px
        line-height: 133.333%
        text-align: left
        gap: 10px
        width: 150px
        max-width: 47%

        img
            width: 28px
            max-width: 25%
            left: 0

    .btn_2
        background-image: url('../img/outline_mob.svg')
