.footer
    background-color: #16171B
    padding: 40px 0 50px
    overflow: hidden
    .container
        align-items: flex-start

    .logo
        margin-bottom: 25px

    &__text
        color: #6A6A6A
        font-size: 12px
        font-weight: 400
        line-height: 180%
        a
            color: #6A6A6A
            padding: 0
            text-decoration: underline
            &:hover
                opacity: 1
                color: $prime
                text-decoration: none

    .col
        max-width: 37%
        a:not(.btn)
            display: block
            font-size: 14px
            padding: 5px 0
            font-weight: 400
            line-height: 171.429%
            &:hover
                opacity: 1
                color: $prime
                text-decoration: underline

    &__phone
        color: $prime
        font-weight: 700
        &:hover
            color: $second !important

    .btn
        padding: 12px 18px
        min-height: unset
        font-size: 12px
        line-height: 100%

    &__heading
        margin-bottom: 11px
        font-size: 14px
        font-weight: 700
        line-height: 171.429%

    &__email
        text-decoration: underline
        margin-bottom: 25px

    &__external
        display: inline-block !important
        vertical-align: middle
        margin-left: 20px
        img
            display: block

    @media screen and ( max-width: 860px )
        .logo
            margin-bottom: 15px

        .container
            justify-content: space-evenly

        &__heading
            display: none
        nav
            display: none

        .col
            max-width: 50%

    @media screen and ( max-width: 700px )
        padding: 40px 0

        .container
            padding-top: 100px

        .col
            max-width: 100%
            text-align: center
            &:first-child
                order: 3
            &:last-child
                order: 1
                margin-bottom: 40px

        .btn
            width: unset
            display: inline-block
            max-width: 100%
            text-align: center
            margin-bottom: 40px

        .logo
            position: absolute
            top: 0
            left: 50%
            transform: translateX(-50%)

        &__external
            margin: 0
            display: block !important
            margin: 0 auto
            max-width: 100px

        &__phone
            font-size: 24px !important
            font-weight: 700 !important
            line-height: 36px !important
